<!DOCTYPE html>
<html lang="en">


<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script>
    // assumption: dropdown names are "screen_name_1", "screen_name_2"

        function validateSelection() {
            //document.write(document.forms.selection.screen_name_1);
            if (document.forms.selection.screen_name_1.value == document.forms.selection.screen_name_2.value) {
                alert('Warning: chose same person twice');
                document.forms.selection.submit.disabled = true;
            }
            else {
                document.forms.selection.submit.disabled = false;
            }
        }
    </script>
    <style>
        option {
            color:white;
            background-color:black;
        }
        .Democratic {
            background-color:navy;
        }
        .Republican {
            background-color:maroon;
        }

    </style>

</head>

<body>
<img src="https://i.imgsafe.org/83b1e3b47a.gif" width="200" height="85">
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a>
                </li>
                <li role="presentation"><a href="#">Sign In</a>
                </li>
                <li role="presentation"><a href="showSignUp">Sign Up</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
    </div>

    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <form action="bottom" target="bottom" method="post" name="selection">
                {%  for select in select_names %}
                <select name="{{select}}" onchange="validateSelection()">
                    {% for screen_name,real_name,party in users_tuples %}
                    <option value="{{screen_name}}" class="{{party}}">{{real_name}}</option>
                    {% endfor %}
                </select>
                {% endfor %}
                <button type="submit" name="submit">Compare</button>
            </form>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; Company 2015</p>
        <iframe name="bottom" />
    </footer>

</div>
</body>

</html>