<!DOCTYPE html>
<html lang="en">


<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script>
    // assumption: dropdown names are "screen_name_1", "screen_name_2"

        function validateSelection() {
            if (document.forms.selection.screen_name_1.value == document.forms.selection.screen_name_2.value) {
                alert('Warning: chose same person twice');
                document.forms.selection.submit.disabled = true;
            }
            else {
                document.forms.selection.submit.disabled = false;
            }
        }
    </script>
    <style>

    html, body
{
    height: 100%;
    width: 100%;
}


        div, span {
        float:left;
        overflow:hidden;
        }
        option {
            color:white;
            background-color:black;
        }
        .Democratic {
            background-color:navy;
        }
        .Republican {
            background-color:maroon;
        }


    </style>

</head>

<body>

<header style="background:yellow">
    header
</header>



<div style="height:75%;width:33.333%;background:lime" name="middle_left">
    <iframe name="left_person" ></iframe>
</div>

<div style="height:75%;width:33.333%;background:pink" name="middle_center">



        <form action="bottom" target="bottom" method="post" name="selection">
            <button name="location" value="left" formaction="person" formtarget="left_person">See</button>
            <select name="screen_name_1" onchange="validateSelection()">
                {% for screen_name,full_name,party in users_tuples %}
                <option value="{{screen_name}}" class="{{party}}">{{full_name}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit">Compare</button>
                        <select name="screen_name_2" onchange="validateSelection()">
                {% for screen_name,full_name,party in users_tuples %}
                <option value="{{screen_name}}" class="{{party}}">{{full_name}}</option>
                {% endfor %}
            </select>
        </form>

    <br />
        <iframe name="bottom" ></iframe>





</div>

<div style="height:75%;width:33.333%;background:black;" name="middle_right">
    <iframe name="right_person" ></iframe>
</div>


<footer style="background:orange" name="footer">
    footer
</footer>


</body>

</html>